@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
@Html.ActionLink(
    " ",
    "Index",
    "Product",
    null,
    new
    {
        style = "background: url('" + Url.Content("~/images/product.png") + "') no-repeat ; display:block; height:84px; width:264px;"
    })
@Html.ActionLink(
    " ",
    "Index",
    "Home",
    null,
    new
    {
        style = "background: url('" + Url.Content("~/images/client.png") + "') no-repeat ; display:block; position: relative;left:240px; top:-82px;height:84px; width:264px;"
    })
@Html.ActionLink(
    " ",
    "Index",
    "Supplier",
    null,
    new
    {
        style = "background: url('" + Url.Content("~/images/supplier.png") + "') no-repeat ; display:block;position: relative;left:479px; top:-164px; height:84px; width:264px;"
    })
@Html.ActionLink(
    " ",
    "Index",
    "Home",
    null,
    new
    {
        style = "background: url('" + Url.Content("~/images/clientsupplier.png") + "') no-repeat ; display:block;position: relative;left:0px; top:-129px; height:84px; width:264px;"
    })
@Html.ActionLink(
    " ",
    "Index",
    "Home",
    null,
    new
    {
        style = "background: url('" + Url.Content("~/images/supplierquestion.png") + "') no-repeat ;position: relative;left:240px; top:-210px; display:block; height:84px; width:264px;"
    })@Html.ActionLink(
    " ",
    "Index",
    "Home",
    null,
    new
    {
        style = "background: url('" + Url.Content("~/images/questionanswer.png") + "') no-repeat ;position: relative;left:479px; top:-293px; display:block; height:84px; width:264px;"
    })