@model IEnumerable<SceptrDocumentation.Models.QuestionAnswerMapper>

@{
    ViewBag.Title = "EditQuestionsForSupplier";
}

<h2>EditQuestionsForSupplier</h2>

<p>
    @Html.ActionLink("Back to Index", "SupplierProduct")
</p>
@using (Html.BeginForm("SubmitNewAnswersForQuestion","Supplier"))
{
    <input type="hidden" value="@Model.First().SupplierId" name="supplierId" />    
    <table>
        @foreach (var category in @ViewBag.Categories)
        {
            <tr>
                <th>
                    Category : @category.Name
                </th>
            </tr>

            foreach (var item in Model)
            {
                if(item.Question.Verb.Name ==  @category.Name)
                {
                    <td>
                        @item.Question.QuestionText
                        <br>
                        <input type="text" value="@item.Answer" name="answers" />
                        <input type="hidden" value="@item.QuestionId" name="questionIds" />
                    </td>
                }
            }
        }

    </table>
    <input type="submit" value="Submit" />
}