@model IEnumerable<SceptrDocumentation.Models.SupplierProduct>

@{
    ViewBag.Title = "SupplierProduct";
}

<h2>SupplierProduct</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    @foreach (var item in @ViewBag.Products)
    {
        <tr>
            @item.Text
        </tr>
    }
    @foreach (var item in @ViewBag.Suppliers)
    {
        <td>
            @item.Text


        </td>
    }

</table>
