@model IEnumerable<SceptrDocumentation.Models.SupplierProduct>

@{
    ViewBag.Title = "SupplierProduct";
}

<h2>SupplierProduct</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    @foreach (var item in @ViewBag.Products)
    {
        <td>
            <th>
                @item.Text
            </th>
        </td>
    }
    @foreach (var item in @ViewBag.Suppliers)
    {
        <tr>
            <th>
                @item.Text
            </th>
        </tr>
        
        foreach (var item1 in @ViewBag.Products)
        {
            <td>
                <th>
                    <input type="checkbox" value="@item.Text"/>
                </th>
            </td>
        }
    }

</table>
