@model IEnumerable<SceptrDocumentation.Models.SupplierProduct>


@{
    ViewBag.Title = "SupplierProduct";
}

<h2>SupplierProduct</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Edit", "SupplierProductEnabled")
</p>
<table>
    @foreach (var item in @ViewBag.Products)
    {
        <td>
            <th>
                @item.Text
            </th>
        </td>
    }
    @foreach (var supplier in @ViewBag.Suppliers)
    {
        <tr>
            <th>
                @supplier.Text
            </th>
        </tr>
        foreach (var product in @ViewBag.Products)
        {
            int flag = 0;
            foreach (var supplierProduct in Model)
            {
                if ((supplierProduct.Supplier.Name == supplier.Text) && supplierProduct.Product.Name == product.Text)
                {
                    
                    <td>
                        <th>
                            <input type="checkbox" value="@supplier.Text" checked disabled/>
                        </th>
                    </td>
                    flag = 1;
                    break;
                }
            }
            if (flag == 0)
            {
                <td>
                    <th>
                        <input type="checkbox" value="@supplier.Text" disabled/>
                    </th>
                </td>   
            }
        }
        <td>
            @Html.ActionLink("Question", "QuestionsForSupplier", new { supplierName = @supplier.Text })
        </td>
    }



    @*
        
            
                @if ((supplierProduct.SupplierId.ToString() == supplier.Text) && (supplierProduct.ProductId.ToString()==product.Text))
                {
                    <td>
                        <th>
                        <th>
                    <td>
                }
                else
                {
                    <td>
                        <th>
                            <input type="checkbox" value="@supplier.Text"/>
                        <th>
                    <td>
                }
            }
        }
    }               *@

    @* @foreach (var item in @ViewBag.Suppliers)
    {
        <tr>
            <th>
                @item.Text
            </th>
        </tr>
        
        foreach (var item1 in @ViewBag.Products)
        {
            
            <td>
                <th>
                    <input type="checkbox" value="@item.Text"/>
                </th>
            </td>
        }
    }*@
</table>
