@model SceptrDocumentation.Models.ClientSupplierMap

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ClientSupplierMap</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClientId, "Client")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClientId", String.Empty)
            @Html.ValidationMessageFor(model => model.ClientId)
        </div>

                <div class="editor-label">
            @Html.LabelFor(model => model.SupplierId, "Supplier")
        </div>
       <div class="editor-field">
            @Html.DropDownList("SupplierList", (SelectList)ViewBag.SupplierId,string.Empty)
            @Html.ValidationMessageFor(model => model.SupplierId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductId, "Product")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductList",(SelectList)ViewBag.ProductId, String.Empty)
            @Html.ValidationMessageFor(model => model.ProductId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
        //alert("Hi...");
        $(document).ready(function() {
            $("#SupplierList").change(function () {
                //alert("asdfasdf");
                var dID = $(this).val();
                //alert(dID);
                $.getJSON("../ClientSupplier/LoadProductsBySuppliers", { sId: dID },
                    function (data) {
                        var select = $("#ProductList");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Select a Product"
                        }));
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                //value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
            });
        });
    </script>
}
